# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Teona Tanasa\Desktop\Facultate\An 1 Sem 1\Python Lab Projects\Cinema Generic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
